/*TITRE*/

/*TITRE END*/
.masonry-wrapper {
    padding: 1.5em;
    max-width:1200px;
    margin-right: auto;
    margin-left: auto;

}
.masonry {
    columns: 3;
    column-gap: 10px;
}
.masonry-item {
    max-width: 380px;
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 10px;
}
.masonry-item, .masonry-content {
    border-radius: 4px;
    overflow: hidden;
}
.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}
.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-item::before {
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
    counter-reset: masonry;
    content: "Lien du restaurant prochainement disponible";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in;
}
.masonry-footer a {
    color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active{
    opacity: .75;
}
