/*//////////////////////////NAVBAR//////////////////////////////*/
.Topbar {
  padding-top: .75rem;
  padding-bottom: .75rem;
  height: 10%;
}

.Topbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
#Logo img{
  width: 30%;
}

#Topbar_BOX{
  background-color: rgba(0, 0, 0, .0);
}

/*//////////////////////////END NAVBAR//////////////////////////////*/

/*/////////////////// BANNER/ //////////////////////////*/

.hero-banner {
  height: 50%;
}
.banner-bg{
  max-width: 80%;
  filter: grayscale(10%);
}

.hero-banner h1{
  position: absolute;
  margin-top: -30%;
  margin-left: 35%;
  font-size: 6em;
  color: white;
  font-weight: bolder;
  animation: titre-apparition 3s;
}

@keyframes titre-apparition {
	From {
		opacity : 0 ;
		margin-top: -20%;
	}
	To {
		opacity : 1 ;
    margin-top: -30%;
	}
}
/*/////////////////// END BANNER ///////////////////////////*/

/*//////////////////////////FOOTER//////////////////////////////*/
#footer_BOX {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  color: red;
}
 .footer .icone{
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
}
.footer ul{
  text-align: center!important;
}
/*//////////////////////////END FOOTER//////////////////////////////*/

/*///////////////////CAROUSEL///////////////////////////*/

.news {
  padding-top: 5%;
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background-image: url("../src/agenda-bg.png");
  background-repeat: no-repeat;
}

.news h2{
  font-size: 3em;
  margin-bottom: 2%;
  font-weight: bolder;
}

.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #009975;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
  font-size: 15px;;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #009975;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}

.slider-nav-prev-btn{
  position: absolute;
  margin-top: 5%;
  width: 5%;
  top: 35%;
  left: 2%;
  opacity: 0.15;
  transform: scale(0.5);
  animation: slider-nav-btn-anim-out 0.5s;
}
.slider-nav-prev-btn:hover{
  animation: slider-nav-btn-anim-in 0.5s forwards;
}

.slider-nav-next-btn{
  position: absolute;
  margin-top: 5%;
  width: 5%;
  top: 35%;
  right: 2%;
  opacity: 0.15;
  transform: scale(0.5);
  animation: slider-nav-btn-anim-out 0.5s;
}
.slider-nav-next-btn:hover{
  animation: slider-nav-btn-anim-in 0.5s forwards;
}

@keyframes slider-nav-btn-anim-in {
  From {
		opacity: 0.15;
		transform: scale(0.5);
	}
	To {
    opacity: 1.0;
    transform: scale(0.9);
	}
}

@keyframes slider-nav-btn-anim-out {
  From {
    opacity: 1.0;
    transform: scale(0.9);
	}
	To {
		opacity: 0.15;
		transform: scale(0.5);
	}
}
/*///////////////////END CAROUSEL///////////////////////////*/









/*/////////////////// INFO ///////////////////////////*/
.info h2{
  text-align: center ;
  font-size: xxx-large;
  font-weight: bold;

}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #434344;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.info .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}
.wrapper img{
  max-width: 100%;

}

.main {
  flex: 3;
}

.main h2 {
  font-size: 32px;
  margin: 1rem 0;
  color: #50c6db;
}

.main p {
  font-size: 1rem;
  margin-bottom: .75rem;
}
/*******************SWAP****************/
.carte
{

  width: 320px;
  height: 320px;
  perspective: 1000px;
}
.carte:hover .carte-in,
.carte:active .carte-in,
.carte:focus .carte-in
{
  transform: rotateY(180deg);
}

.carte-in
{
  transition: transform .25s ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.carte-back
{
  transform: rotateY(180deg);
}

.carte-front, .carte-back {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  color: black;
  background-color: rgba(0, 153, 117, 0.25);

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.carte_utils{
  padding: 2em;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.carte_img img{
  width: 100%;
}
.carte_utils h3 p{
  margin-bottom: 1em;
  color: white;
}
.small-txt{
  font-size: .7em;
}

/*************END SWAP************/
/*************SIDEBAR************/
.sidebar {
  padding: 20px;
  flex: 1;
  border-radius: 10px;
  margin-right: 60px;
  border-top: 3px solid #ffffff;
  background-color: #f9f9f9;
  height: fit-content;

}

.sidebar ul {
  list-style-type: none;
  margin-top: 1rem;
  font-size: .75rem;
}
.sidebar ul > li {
  padding: .25rem 0;
}
.sidebar h3::after{
  background: #f2f2f2;
  text-align: center;
  content: "";
  display: block;
  height: .6rem;
  width: 10em;
}
.dropdown{
  margin:0.5em;
}

.drtgc {
  display: flex;

  flex-direction: row-reverse;


  margin: 16px 0;
}

.container__{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1.6em 0px 1.6em 0px;

}

.container__image img{
width: 600px;
}
.container__feature{
  text-align: justify;
  margin: 40px;
  font-size: larger;
}

/*************END SIDEBAR************/
.logo {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #50c6db;
}


.divcontainer{
  background: #ffffff;
  border-radius: 4px;
}
.main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5.5rem 13%;
  margin: 3rem auto 0;
}
.container .divcontainer{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}
.main .divcontainer .titre-card{
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.17;
  margin: .8rem 0 .4rem;
  text-align: center;
}
@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  .main {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
/*/////////////////// END INFO ///////////////////////////*/











/*///////////////////INFORMATION///////////////////////////*/
.map{
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.map .map-title{
  color: black;
  margin-bottom: 3%;
}

.tel, .mail, .message{
  margin: 2em 0em 0em 0em;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.message button{
  background-color: #009975;
  color: white;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.message h2{
  font-size: 180%;
}

/*////MODAL////*/

.send-modal {
  background-color: #009975;
}
/*///////////////////END INFORMATION///////////////////////////*/


/*///////////////////infos CONTACT///////////////////////////*/
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "contact loca loca"
    "contact mail tel"
    "contact form form";
}

.infos{
  padding: 17px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer i, .infos i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 39px;
  height: 39px;
  background: #009975;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.b-btn{
  color: #fff;
  background-color: #12654b;
  border-color: #70bda4;

  padding: .5rem .80rem;
  font-size: 1rem;
  border-radius: .3rem;
  width: 100%;
}
 .Envoyer{
   margin: auto;
   text-align: center;
   padding-top: .80em;
   height: 3em;
 }
.infos p {
  padding: 0 0 0 25px;
  margin-bottom: 0;
}



.infos a:hover {
  color: #c0c8ce;
  background: cadetblue;
}


.infos h2 {
  width: 280px;
  height: 24px;
  margin: 15px;
  padding: 0px;
}

.infos h4 {
  color: #a9a8ab;
}

.infos p {
  margin: -10px 0px 0px 0px;
  font-size: 14px;
  color: #a9a8ab;
}
/*///////////////////END infos CONTACT///////////////////////////*/


/*//////////////////////////parallax //////////////////////////////*/

.parallax2{
  background-image:url("../src/endbrehat.jpg");
min-height: 400px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

/*//////////////////////////END parallax //////////////////////////////*/
